/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
// Merriweather

@font-face {
    font-family: 'merriweather';
    src: url('../fonts/Merriweather/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/Merriweather/merriweather-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather';
    src: url('../fonts/Merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Merriweather/merriweather-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'merriweather';
    src: url('../fonts/Merriweather/merriweather-light-webfont.woff2') format('woff2'),
         url('../fonts/Merriweather/merriweather-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather';
    src: url('../fonts/Merriweather/merriweather-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Merriweather/merriweather-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

// Novecento

@font-face {
    font-family: 'novecento';
    src: url('../fonts/Novecento/novecentosanswide-demibold-webfont.eot') format('eot'),
         url('../fonts/Novecento/novecentosanswide-demibold-webfont.svg') format('svg'),
         url('../fonts/Novecento/novecentosanswide-demibold-webfont.woff') format('woff'),
         url('../fonts/Novecento/novecentosanswide-demibold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'novecento';
    src: url('../fonts/Novecento/novecentosanswide-normal-webfont.eot') format('eot'),
         url('../fonts/Novecento/novecentosanswide-normal-webfont.svg') format('svg'),
         url('../fonts/Novecento/novecentosanswide-normal-webfont.woff') format('woff'),
         url('../fonts/Novecento/novecentosanswide-normal-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// Page Fonts

.day_of_week {
  font-weight: bold;
}

.home_titles {
  font-family: $font_nov;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  font-size: 2.8rem;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}


a.home_taxonomy_link{
  font-family: $font_nov;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a.home_taxonomy_link:visited {
color:#fff;
}

p.para_tax_box {
  font-size: 1.1rem;
  line-height: 1.9rem;
}

h3.journal_home_boxes {
  color: #248A83;
  font-family: $font_nov;
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 1.8rem;
}

span.date_comments {
  display: block;
  font-family: $font_meri;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-left: 15px;
}
