/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
  height: 400px;
  background: url('../../images/dark-wood.png');
  background-repeat: repeat-x;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;

  .widget {
    width: 24%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;


      h3 {
        color: #d99054;
        font-family: $font_nov;
        text-transform: uppercase;
        font-size: 1.3rem;
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
      }

      p {
        color: #fff;
        font-family: $font_meri;
        font-size: 1.1rem;
        line-height: 0.5rem;
      }

      .fa {
        margin-right: 10px;

      }

  }

}
.site-info {
  width: 100%;
  max-width: 1120px;
  text-align: center;
  font-family: $font_nov;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
}
