/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.parent-home .content-area{
  width: 100%;
}

.front_hero {
  background:
  linear-gradient( to right,
    rgba(0,0,0,0.4),rgba(0,0,0,0.4) 100%),
    url(../../images/home-hero.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero_logo {
  width: 280px;
  height: 280px;
  background: url(../../images/inhabitent-logo-full.svg);
  background-size: cover;
}

.shop_stuff {
  width: 100%;
  text-align: center;
}

.taxonomy_box_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home_taxonomy_box {
  width: 22%;
  padding: 15px;
  text-align: center;
  font-family: 'merriweather';
  font-weight: lighter;
  font-size: 1.2rem;
  border: 1px solid #e1e1e1;
  border-top: 5px solid #e1e1e1;
}

.home_taxonomy_img {
  width: 75px;
  height: 75px;
}

.home_taxonomy_link {
  background: #a1a1a1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

a.home_taxonomy_link {
  color: #fff;
  text-transform: uppercase;
}

.home_titles {
  font-family: 'novecento';
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  font-size: 2.8rem;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}

// Journal Page

.blog {

      .site-content {
      display: flex;
      flex-wrap: nowrap;
    }

     .content-area {
      width: 70%;
      border: 2px solid green;
    }

    .entry-header img {
      width: 100%;
    }

    .post_top_wrap {
      position: relative;
      border: 1px solid red;
      padding: 5%;
    }

    .entry-title {
      position: absolute;
      top: 60px;
      background-color: #248A83;
      color: #fff;
      width: 65%;
      padding: 2%;
    }

    .entry-title a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Novecento';
      font-size: 2.5rem;

    }

    .widget-area {
      width: 28%;
    }

}

// About Page

.about_hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8rem;
}
